<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>application quartz configuration</description>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>file:/Users/panqingqing/githubWorkspaces/config/timer/sc.properties</value>
            </list>
        </property>
    </bean>

    <bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="applicationContextSchedulerContextKey" value="${applicationContextKey}"/>
        <property name="configLocation" value="file:/Users/panqingqing/githubWorkspaces/config/timer/quartz.properties"/>
    </bean>

    <!-- 串行Job -->
    <bean id="serialJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="job_1"/>
        <property name="group" value="group_1"/>
        <property name="jobClass" value="com.wjs.timer.service.job.SerialQuartzJob"/>
        <property name="description" value="线程阻塞方式的job,顺序执行,后面任务必须等前面一个任务执行完才能执行"/>
        <property name="durability" value="true"/>
        <property name="requestsRecovery" value="true"/>
    </bean>

    <!-- 并行Job -->
    <bean id="concurrentJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="job_2"/>
        <!-- 请和上面组名一致 -->
        <property name="group" value="group_1"/>
        <property name="jobClass" value="com.wjs.timer.service.job.ConcurrentQuartzJob"/>
        <property name="description" value="线程并行方式的job,一起执行,后面任务不用等前面一个任务执行完才能执行"/>
        <property name="durability" value="true"/>
        <property name="requestsRecovery" value="true"/>
    </bean>

</beans>